In [1]:
from stochlab.core import StateSpace
from stochlab import MarkovChain

In [3]:
import numpy as np

In [4]:
states = ["Bull", "Bear"]
P = np.array([[0.7, 0.3],   # Bull -> Bull: 70%, Bull -> Bear: 30%
              [0.4, 0.6]])

In [5]:
mc = MarkovChain.from_transition_matrix(states, P)

In [6]:
path = mc.sample_path(T=100, x0="Bull")
print(f"Path length: {len(path)}")
print(f"Final state: {path[-1]}")

Path length: 101
Final state: Bull

In [7]:
result = mc.simulate_paths(n_paths=1000, T=100)

TypeError: 'SimulationResult' object is not subscriptable

In [8]:
df = result.to_dataframe()

In [9]:
df

        path_id    t  time state
0             0    0     0  Bull
1             0    1     1  Bull
2             0    2     2  Bear
3             0    3     3  Bear
4             0    4     4  Bear
...         ...  ...   ...   ...
100995      999   96    96  Bull
100996      999   97    97  Bear
100997      999   98    98  Bear
100998      999   99    99  Bear
100999      999  100   100  Bear

[101000 rows x 4 columns]